<% if breadcrumbs.present? %>
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= breadcrumbs.last.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <% breadcrumbs.each do |breadcrumb| %>
              <% if breadcrumbs.last == breadcrumb %>
                <li class="active"><%= breadcrumb.name %></li>
              <% else %>
                <li><%= link_to breadcrumb.name, breadcrumb.path %></li>
              <% end %>
            <% end %>
          </ol>
        </div>
      </div>
    </div>
  </section>
<% end %>
