<div class="panel panel-default">
  <div class="panel-heading"><%= taxonomy.name %></div>
  <div class="panel-body">
    <div class="collapse navbar-collapse navbar-ex1-collapse navbar-side-collapse">
      <ul class="taxons-list nav navbar-nav side-nav">
        <% nested_set_options(taxonomy.root) { |taxon|
             "#{taxon.name} (#{taxon.count_products_of_self_and_descendants})"
           }.drop(1).each do |name_and_count, id| %>
          <li>
            <%= link_to potepan_category_path(id) do %>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <span><%= name_and_count %></span>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
