<% provide(:title, @taxon.name) %>
<% add_breadcrumb @taxon.name, potepan_category_path(@taxon) %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'left_sidebar', taxonomies: @taxonomies %>
      </div>
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'filters' %>
        <%= render 'product_grid', products: @products %>
      </div>
    </div>
  </div>
</section>
<%= render 'potepan/shared/partners' %>
