<% provide(:title, @product.name) %>
<% add_breadcrumb @product.name, potepan_product_path(@product) %>
<section class="mainContent clearfix">
  <div class="container">
    <div class="row singleProduct">
      <div class="col-xs-12">
        <div class="media">
          <%= render partial: 'images', locals: { images: @product.images } %>
          <div class="media-body product">
            <ul class="list-inline">
              <li><a href="/potepan/product_grid_left_sidebar.html"><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</a></li>
            </ul>
            <h2><%= @product.name %></h2>
            <h3><%= @product.display_price %></h3>
            <p><%= @product.description %></p>
            <%= render partial: 'cart_form' %>
            <div class="btn-area">
              <a href="/potepan/cart_page.html" class="btn btn-primary btn-block">カートへ入れる<i class="fa fa-angle-right" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: 'taxons' %>
  </div>
</section>
