<!DOCTYPE html>
<html>
  <head>
    <%= render 'potepan/shared/head' %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render 'potepan/shared/header' %>
      <%= render 'potepan/shared/light_section' %>
      <%= yield %>
      <%= render 'potepan/shared/footer' %>
    </div>
    <%= render 'potepan/shared/login_modal' %>
    <%= render 'potepan/shared/signup_modal' %>
    <%= render 'potepan/shared/product_quickview' %>
    <%= render 'potepan/shared/js' %>
  </body>
</html>
